<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikes Page</title>
</head>
<body>
    <h2>Philadelphia, Pennsylvainia</h2>
    <br><h3>Michael Ludwig</h3>
    <br>
    <ol>
      <li>Working out</li>
      <li>Software Development</li>
      <li>Traveling</li>
      <li>Cooking</li>
      <li>Family</li>
    </ol>
    <br>
    <br>
    <p>"Never leave that till tomorrow which you can do today" -Ben Franklin
    </p>
    <br>
    <br>
</body>
</html>
