<nav class="navbar">
    <div class="container-fluid">
        <a routerLinkActive="active" routerLink="jaehyun" style="margin: 5px;">Click here for jaehyun's profile</a>
        <a routerLinkActive="active" routerLink="mike" style="margin: 5px;">Click here for mike's profile</a>
        <a routerLinkActive="active" routerLink="jeong" style="margin: 5px;">Click here for jeong's profile</a>
        <a routerLinkActive="active" routerLink="jeremiah" style="margin: 5px;">Click here for jeremiah's profile</a>
        <a routerLinkActive="active" routerLink="ethan" style="margin: 5px;">Click here for Ethan's profile</a>
    </div>
</nav>