<!DOCTYPE html>
<html lang="eng"> 
  <head>
    <title>Alchemy-JTT</title>
  </head>
    <h1>Jeremiah Weaver</h1>
  <body>
    <h2>California, USA</h2>
    <br>
    <br>
    <ol>
      <li>Playing Video Games</li>
      <li>Building Legos</li>
      <li>Watching the 49ers Play Football</li>
      <li>Watching TV with my Wife</li>
      <li>Adding Videos to my YouTube Channel</li>
    </ol>
    <br>
    <br>
    <p>"Don't be shocked when your history book mentions me" -Hamilton
      from Lin Manuel Miranda's Hamilton
    </p>
    <br>
    <br>
    <src image="https://www.bing.com/images/search?view=detailV2&ccid=LCLxRist&id=864A2CFB67C3F16D6654E465CAE585403F3CBC76&thid=OIP.LCLxRistUGe8ap4FP6QXSQHaEK&mediaurl=https%3a%2f%2fi.ytimg.com%2fvi%2fV6eJhf_NwNo%2fmaxresdefault.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.2c22f1462b2d5067bc6a9e053fa41749%3frik%3ddrw8P0CF5cpl5A%26pid%3dImgRaw%26r%3d0&exph=720&expw=1280&q=jman+at+magicgate&simid=608031446495202360&FORM=IRPRST&ck=1396C244262A8DB92BD9A70BD5D42B7F&selectedIndex=1"></src>
    </body>
  <router-outlet></router-outlet>
  </html>

<p>jeremiah works!</p>
