    <h1>Jeremiah Weaver</h1>
    <h2>California, USA</h2>
    <br>
    <br>
    <ol>
      <li>Playing Video Games</li>
      <li>Building Legos</li>
      <li>Watching the 49ers Play Football</li>
      <li>Watching TV with my Wife</li>
      <li>Adding Videos to my YouTube Channel</li>
    </ol>
    <br>
    <br>
    <p>"Don't be shocked when your history book mentions me" -Hamilton
      from Lin Manuel Miranda's Hamilton
    </p>
    <br>
    <br>
    <img src="https://i.ytimg.com/vi/V6eJhf_NwNo/maxresdefault.jpg">